<h5>Group Objects</h5>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-script-tab" data-toggle="tab" href="#nav-script" role="tab" aria-controls="nav-script" aria-selected="true">Tables</a>
        <a class="nav-item nav-link" id="nav-dependencies-tab" data-toggle="tab" href="#nav-dependencies" role="tab" aria-controls="nav-dependencies" aria-selected="false">Views</a>
        <a class="nav-item nav-link" id="nav-completed-tab" data-toggle="tab" href="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">Stored Procedures</a>
        <a class="nav-item nav-link active" id="nav-logging-tab" data-toggle="tab" href="#nav-noneclaim" role="tab" aria-controls="nav-noneclaim" aria-selected="false">None</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-script" role="tabpanel" aria-labelledby="nav-script-tab">

    </div>
    <div class="tab-pane fade" id="nav-dependencies" role="tabpanel" aria-labelledby="nav-dependencies-tab">

    </div>
    <div class="tab-pane fade" id="nav-uspclaim" role="tabpanel" aria-labelledby="nav-uspclaim-tab">
    </div>
    
    <div class="tab-pane fade" id="nav-uspclaim" role="tabpanel" aria-labelledby="nav-uspclaim-tab">

    </div>
</div>